@page
@model ViewFireWarningsModel
@{
    ViewData["Title"] = "View Fire Warnings";
}

<h1>Fire Warnings</h1>

@if (Model.SearchResults != null && Model.SearchResults.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Time Last Updated</th>
                <th>Time First Reported</th>
                <th>Status</th>
                <th>Location ID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fireWarning in Model.SearchResults)
            {
                <tr>
                    <td>@fireWarning.FireWarningID</td>
                    <td>@fireWarning.TimeLastUpdated</td>
                    <td>@fireWarning.TimeFirstReported</td>
                    <td>@fireWarning.Status</td>
                    <td>@fireWarning.LocationID</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No fire warnings found.</p>
}
